numpy=1.23.4
pandas=1.5.2
SimpleITK=2.2.1
torch=1.10.1
scipy
matplotlib=3.6.2
opencv-python
nibabel=3.2.1
scikit-image=0.19.3
torchvision=0.11.2
cuda-toolkit=11.3.1
cudnn=8.9.2.26
pillow=9.2.0
medpy
sklearn=1.2.2
tensorboardX
SimpleITK
python=3.9.16
tensorboard


